{% extends "auctions/layout.html" %}

{% block body %}
    {% if not message %}
        <p class="alert alert-warning" role="alert">Error!</p>
    {% endif %}
    <div class="container-fluid">
        {% if not auction.status %}
            <div>
                <h5>Auction closed. Winner</h5>
                <p>{{ auction.winner }}</p>
            </div>
        {% endif %}
        <div class="col">
            <div class="row">
                <h2 class="col-md-4">{{ auction.title }}</h2>
                {% if user in users and user.id != auction.user.id and auction.status %}
                    <form class="col-md-4" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-primary col-md-8" type="submit" name="watch" value="{{ watchlist_text }}" />
                    </form>
                {% endif %}
                <img class="col-md-4" scr="{{ image }}" alt="No item image" />
            </div>
            <div class="row"></div>
                <h4>Description</h4>
                <p style="min-height: 20vh">{{ auction.description }}</p>
            </div>
            <div class="row">
                <h4 class="col-md-4">Current Price</h4>
                <p class="col-md-4" style="font-size: xx-large;">{{ auction.price }}</p>
                
                <h4 class="col-md-2">Seller</h4>
                <p class="col-md-2">{{ auction.user }}</p>
            </div>
            <div class="row gy-5">
                {% if user in users and user.id != auction.user.id and auction.status %}
                    <form class="col-md-8" method="POST">
                        {% csrf_token %}
                        {{ bid_form }}
                        <input class="btn btn-primary" type="submit" name="bid" value="Place Bid" />
                    </form>
                {% elif user.id == auction.user.id and auction.status %}
                    <form class="col-md-8" action="{% url 'close_listing' auction.id %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" name="close" value="Close Auction" />
                    </form>
                {% endif %}
                <h4 class="col-md-2">End in</h4>
                <p class="col-md-2">{{ auction.remaining }}</p> 
            </div>
        </div>
        <hr />
        {% for comment in comments %}
        <article class="card text-bg-primary mb-3">
            <h5 class="card-header">{{ comment.title }}</h5>
            <p class="card-subtitle mb-2 text-muted" style="margin: 5px"> Posted by {{ comment.user.username }} {{ comment.date }}</p>
            <br />
            <p class="card-body bg-transparent"> {{comment.content }}</p>
        </article>
        <br />
        {% endfor %}
        {% if user in users %}
            <div class="col">
                <form class="row-md-12 g-5" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input class="btn btn-primary" type="submit" name="comment" value="Add Comment" style="margin-top: 10px;"/>
                </form>
            </div>
        {% endif %}
    </div>
    
{% endblock %}